Flask==3.1.0
flask-cors==5.0.1
flask-sqlalchemy==3.0.5
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.29.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.6
pandas==2.2.3
google-cloud-storage==3.1.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-api-core==2.24.2
gunicorn==21.2.0
flask-caching==1.11.0
