body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Change this to your desired font */
  background-color: #f7fafc;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MuiAppBar-root.app-bar {
  background-color: #124533db; /* !important; /* Adding !important as a last resort */
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif; /* Change this to your desired font */
}

.main-content {
  flex: 1;
  padding: 10px;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: auto;
  font-family: 'Inter', sans-serif; /* Change this to your desired font */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Inter', sans-serif; /* Change this to your desired font */
}

.nav-links a:hover {
  text-decoration: underline;
  color: #2b6cb0;
}

.nav-links div {
  color: white;
  font-size: 1em;
  font-family: 'Inter', sans-serif; /* Change this to your desired font */
}

.nav-links div:hover {
  text-decoration: underline;
  color: #2b6cb0;
}

/* Remove sidebar styles */

/* Add styles for links */
a {
  color: #3182ce;
  text-decoration: underline;
  font-family: 'Inter', sans-serif; /* Change this to your desired font */
}

a:hover {
  color: #2b6cb0;
}
